.headerContainer {
  height: 15vh;
  background-color: #36312b;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links ul {
  display: flex;
  list-style: none;
  margin-right: 100px;
  align-items: center;
  gap: 30px;
}

.links li {
  display: flex;
  align-items: center;
}

.links p,
.arrowIcon {
  color: white;
  font-size: 18px;
  font-family: "Exo 2";
  font-weight: 600;
}

.serviceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupFocus {
  padding-top: 100px;
  width: 20%;
  height: 100px;
  background-color: #36312b;
}
  