.headerContainer {
  height: 15vh;
  background-color: #36312b;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0 20px;
}

.hamburgerIcon {
  display: none;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.fullScreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.closeIcon {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linksList {
  list-style: none;
  padding: 0;
}

.serviceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.serviceList p {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 24px;
}

.serviceList:hover .groupFocus {
  display: flex;
  animation: fadeIn 0.3s ease-in-out;
}

.groupFocus {
  display: none;
  position: absolute;
  top: 100%;
  left: -10px;
  width: 110%;
  background-color: #36312b;
  padding: 10px;
  border-radius: 4px;
  z-index: 999;
}

.groupFocusList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.groupFocusList li {
  color: white;
  font-size: 18px;
  font-family: "Exo 2";
  font-weight: 600;
  margin: 5px 0;
}

.links p,
.arrowIcon {
  color: white;
  font-size: 18px;
  font-family: "Exo 2";
  font-weight: 600;
}

/* HEADER > 800px */

.serviceListToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.serviceListToggle p {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 24px;
}

.serviceListToggle:hover .groupFocus {
  display: flex;
  animation: fadeIn 0.3s ease-in-out;
}

.serviceListToggle:hover .arrowIcon {
  animation: fadeIn 0.3s ease-in-out;
rotate: 90deg;
}

.linksListToggle {
  display: flex;
  gap: 20px;
}

.linksListToggle {
  list-style: none;
}

.linksListToggle p:last-child {
  margin-right: 50px;
}

.linksListToggle p,
.arrowIcon {
  color: white;
  font-size: 18px;
  font-family: "Exo 2";
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .linksToggle {
    display: none;
  }

  .hamburgerIcon {
    display: flex;
  }
}
